<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FORMBKA.Properties.Settings.FORMBKAConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FORMBKA.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FORMBKA.Properties.Settings.FormBKADB" connectionString="Data Source=DESKTOP-TCL2TBT\SQLEXPRESS;Initial Catalog=Formbka;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>